.bodyDiscover{
    height: 300px;
    background-color: rgb(255, 242, 234);
}
.labelSubDiscover{
    font-size: 27px;
    max-width: 700px;
    text-align: center ;
    margin: 0 auto;
    font-style: oblique;
    font-weight: 400;
    margin-bottom: 1rem;
    color: rgb(96, 96, 96);
}
.boxFilter{
    background: white;
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
        padding: 24px;
        margin-bottom: 20px;
        border: 1px solid #f0f0f0;
        height: 80px;
        width: 1000px;
        margin-left: 100px;
        position: relative;
        top: 36px;
        margin: 0 auto;

        
}
.labelCategory{
    position: relative;
    bottom: 20px;
    font-weight: 600;
}
.buttonType{
    display: flex !important;
    width: 110px;
    align-items: center !important;
    font-size: 14px !important;  
    gap: 8px !important;
    margin-right: 10px !important;
    background-color: white !important;
    transition: all 0.3 ease !important;
    color: black !important;
    padding: 8px 12px !important;
    font-weight: 500 !important;
     border-style: ridge;
    border-color: rgb(203, 203, 203);
}
.buttonType:hover{
    background-color:  rgb(255, 102, 0) !important;
    transform: translateY(-1px);
    color: white !important;
}
.buttonTypeMexican{
    display: flex !important;
    width: 110px;
    align-items: center !important;
    font-size: 14px !important;  
    gap: 8px !important;
    margin-right: 10px !important;
    background-color: white !important;
    transition: all 0.3 ease !important;
    color: black !important;
    padding: 8px 12px !important;
    font-weight: 500 !important;
    position: relative;
    left: 120px !important;
    bottom: 33px;
    margin-left: 10px;
     border-style: ridge;
    border-color: rgb(203, 203, 203);
}
.buttonTypeMexican:hover{
    background-color:  rgb(255, 102, 0) !important;
    transform: translateY(-1px);
    color: white !important;
}
.buttonTypeAsian{
    display: flex !important;
    width: 110px;
    align-items: center !important;
    font-size: 14px !important;  
    gap: 8px !important;
    margin-right: 10px !important;
    background-color: white !important;
    transition: all 0.3 ease !important;
    color: black !important;
    padding: 8px 12px !important;
    font-weight: 500 !important;
    position: relative;
    left: 250px !important;
    bottom: 64px;
    margin-left: 10px;
    border-style: ridge;
    border-color: rgb(203, 203, 203);
}
.buttonTypeAsian:hover{
    background-color:  rgb(255, 102, 0) !important;
    transform: translateY(-1px);
    color: white !important;
}
.labelRestaurantsMention{
    font-size: x-large;
    font-weight: 700;
    position: relative;
    left: 110px;
    margin-bottom: 1rem;
}
.labelSubDiscoverRestaurants{
    font-size: 18px;
    max-width: 700px;
    position: relative;
    right: 160px;
    margin: 0 auto;
    font-style: oblique;
    font-weight: 500;
    margin-bottom: 1rem;
    color: rgb(96, 96, 96);
}
