.selectTypeFoodContainer {
    width: 100%;
    
}

.selectTypeFood {
    width: 100%;
    max-width: 180px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0.5rem;
}
.ant-select-selector {
  cursor: pointer !important;
}

@media (max-width: 480px) {
  .selectTypeFoodContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .selectTypeFood {
    
    max-width: 100%;
    font-size: 0.75rem;
    padding: 0.25rem;
  }
  .ant-select-selector {
    min-height: 28px !important;
    font-size: 0.75rem !important;
    padding: 0.25rem !important;
  }
}



